.container {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.favourites {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    grid-gap: 15px;
}
