.colorMeter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.meterWithType {
    height: 48px;
}

.meterWithoutType {
    height: 39px;
    padding: 4px 8px 12px;
}

.colors {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.color {
    height: 5px;
}

.pointer {
    position: relative;
    height: 9px;
    width: 1px;
}

div .value {
    position: absolute;
    top: 8px;
    font-size: 10px;
}

div .valueAQI {
    right: -2px;
}

div .unit {
    font-size: 13px;
    margin-left: 11px;
}

.noData {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .readingText {
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 50px;
}
