.colorMeter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.meterWithType {
    height: 48px;
}

.meterWithoutType {
    height: 39px;
    padding: 4px 8px 12px;
}

.colors {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.color {
    height: 5px;
    position: relative;
}

.pointer {
    position: relative;
    height: 9px;
    width: 1px;
}

div .value {
    position: absolute;
    top: 8px;
    font-size: 10px;
}

div .valueAQI {
    right: -2px;
}

div .unit {
    font-size: 13px;
    margin-left: 11px;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

div .noData {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

div .readingText {
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    width: 50px;
    height: 100%;
    margin-bottom: -2px;
}

div .currentValue {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 2px;
    border-radius: 4px;
}

div .currentValuePointer {
    position: absolute;
    top: -4px;
    height: 13px;
    width: 3px;
    z-index: 5;
}

div .colorBar {
    display: flex;
    width: 100%;
}

div .fetchingData {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div .progress {
    margin-right: 8px;
}
