.container {
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .switch {
    width: 100%;
    justify-content: space-between;
    margin-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    box-sizing: border-box;
}

div .paper {
    width: 100%;
    max-width: 420px;
    margin-bottom: 25px;
    margin-top: 5px;
}

div .addSource {
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

div .addIcon {
    margin-right: 8px;
}

div .closeButton {
    position: absolute;
    right: 8px;
    top: 8px;
}

div .progress {
    margin-right: 4px;
}

div .textFields {
    display: flex;
    flex-direction: column;
}

div .textField {
    margin-bottom: 16px;
}

div .deleteButton {
    cursor: pointer;
    padding-right: 12px;
}

div .source {
    display: flex;
    align-items: center;
}
