.composedInfo {
    width: 100%;
    max-width: 500px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.favouriteInfo {
    height: 100%;
    margin: 15px 15px 15px 0;
}

div .infoHeader {
    display: flex;
    align-items: center;
}

div .icon {
    margin-left: auto;
}

.weatherInfo {
    padding: 6px 0 12px;
}
